<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <article class="col-sm-8">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="anon_user_img">
                            <img class="border p-1" src="../../asset/images/anon_user.png" alt="anon_user.png">
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form_signin w-75">
                            <h4 class="fw-bold">Đăng ký</h4>
                            <form action="">
                                <div class="note_signin">
                                    <p class="fst-italic">Dấu * bắt buộc nhập</p>
                                </div>
                                <div class="form-group py-2">
                                    <label for="username">Tên đăng nhập</label>
                                    <input type="text" id="username" class="form-control" placeholder="* Vd: username01">
                                </div>
                                <div class="form-group py-2">
                                    <label for="password">Mật khẩu</label>
                                    <input type="password" id="password" class="form-control" placeholder="* Vd: password123">
                                </div>
                                <div class="form-group py-2">
                                    <label for="repassword">Nhập lại mật khẩu</label>
                                    <input type="password" id="repassword" class="form-control" placeholder="* Nhập lại trường mật khẩu">
                                </div>
                                <div class="form-group py-2">
                                    <label for="email">Email</label>
                                    <input type="text" id="email" class="form-control" placeholder="* Vd: frontend123@gmail.com">
                                </div>
                                <div class="form-group py-2">
                                    <label for="sdt">Số điện thoại</label>
                                    <input type="text" id="sdt" class="form-control" placeholder="* Vd: 0987654321">
                                </div>
                                <div class="form-group py-2">
                                    <label for="hoten">Họ tên</label>
                                    <input type="password" id="hoten" class="form-control" placeholder="* Vd: Nguyễn Văn A">
                                </div>
                                <div class="form-group py-2">
                                    <label for="diaChi">Địa chỉ</label>
                                    <input type="password" id="diaChi" class="form-control" placeholder="* Vd: 288 Nguyễn Văn Linh, phường Hưng Lợi, quận Ninh Kiều, TP.Cần Thơ  ">
                                </div>
                                <div class="btn_group text-center">
                                    <button class="btn btn-success border" type="submit">Đăng ký</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
            <aside class="col-sm-4">
                <h2 class="fs-6">Đề thi trắc nghiệm mới</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
                  </ul>
            </aside>
        </div>
    </div>
</body>
</html>