<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <article class="col-sm-8">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="anon_user_img">
                            <img class="border p-1" src="../../asset/images/anon_user.png" alt="anon_user.png">
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form_login w-75">
                            <h4 class="fw-bold">Đổi mật khẩu</h4>
                            <form action="">
                                <div class="form-group py-2">
                                    <label for="password">Mật khẩu cũ</label>
                                    <input type="password" id="password" class="form-control" placeholder="*">
                                </div>
                                <div class="form-group py-2">
                                    <label for="newpassword">Mật khẩu mới</label>
                                    <input type="password" id="newpassword" class="form-control" placeholder="*">
                                </div>
                                <div class="form-group py-2">
                                    <label for="re_newpassword">Nhập lại mật khẩu mới</label>
                                    <input type="password" id="re_newpassword" class="form-control" placeholder="*">
                                </div>
                                <div class="btn_group text-center">
                                    <button class="btn btn-success border" type="submit">Đổi mật khẩu</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
            <aside class="col-sm-4">
                <h2 class="fs-6">Đề thi trắc nghiệm mới</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
                  </ul>
            </aside>
        </div>
    </div>
</body>
</html>