<div class="col-sm-12">
    <div class="link_tests row pt-3">
        <div class="col-sm-3">
            <ul class="list_link_tests">
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="list_link_tests">
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="list_link_tests">
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="list_link_tests">
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
                <li><a href="">Thi thử trực tuyến Toán học</a></li>
            </ul>
        </div>
    </div>
    <div class="in4 row pt-3">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                    <p>
                        <span class="fw-bold">Công cụ trực tuyến hỗ trợ giáo dục - MaTran.edu.vn</span><br>
                        Copyright &copy; 2014-2021. All rights reserved. Bản quyền thuộc <span class="fw-bold">VinaGon</span><br> 
                        Email: info@vinagon.com <br>
                        <span class="fw-bold">Hotline: 0869243838</span>
                    </p>
                </div>
                <div class="col-sm-4">
                    <ul class="list_link_footer">
                        <li><a href="">Liên hệ hỗ trợ</a></li>
                        <li><a href="">Quy định chung</a></li>
                        <li><a href="">Chính sách bảo mật</a></li>
                        <li><a href="">Phương thức thanh toán</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=70&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="70" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>