<div class="row">
    <article class="artichle col-md-8 border-primary">
        <div class="row">
            <div class="aside_images col-md-3">
                <img src="../../asset/images/contact.jpg" class="w-100" alt="">
            </div>
            <div class="col-md-9 mb-3">
                <div class="form-group">
                    <div class="contact-text">
                        <p class="fs-6 p-0 m-0 " style="width:1.rem;">Quý vị có thể gửi thư tới chúng tôi bằng cách hoàn tất biểu mẫu dưới đây. Để chúng
                            tôi có thể trả lời thư của Quý vị, xin vui lòng khai báo đầy đủ.</p>
                        <p class="fs-6 p-0 m-0 " style="width:1.rem;">Thông tin liên hệ</p>
                        <span>Email: info@fpt.edu.vn</span> | <span><a
                                href="tel:0924586125">0924586125</a></span>
                    </div>
                    <div class="mb-3">
                        <label for="my-input">Tên đăng nhập *</label>
                        <input id="my-input" class="form-control" type="text" name="">
                    </div>
                    <div class="mb-3">
                        <label for="my-input">Họ tên *</label>
                        <input id="my-input" class="form-control" type="text" name="">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label ">Email address *</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>
                    <div class="mb-3"><label for="my-input">Số điện thoại *</label>
                        <input id="my-input" class="form-control" type="number" name="">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Nội dung</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    
                    <div class="mb-3 d-flex justify-content-end">
                        <button class="btn btn-sm btn-success px-3">Gữi thông tin</button>
                    </div>
                </div>

            </div>

        </div>
    </article>
    <aside class="aside col-md-4 ">
        <h2 class="fs-6 ">Đề thi trắc nghiệm mới</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0"
                    style="font-size: 0.9rem !important;">Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt
                    nghiệp THPT môn Toán năm 2021</a></li>
            <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0"
                    style="font-size: 0.9rem !important;">Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt
                    nghiệp THPT môn Toán năm 2021</a></li>
            <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0"
                    style="font-size: 0.9rem !important;">Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt
                    nghiệp THPT môn Toán năm 2021</a></li>
            <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0"
                    style="font-size: 0.9rem !important;">Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt
                    nghiệp THPT môn Toán năm 2021</a></li>
            <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0"
                    style="font-size: 0.9rem !important;">Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt
                    nghiệp THPT môn Toán năm 2021</a></li>
        </ul>
    </aside>
</div>