
    <h4 class="text-danger">Đề thi online</h4>
    <hr>
     <div class="row">
         <div class="col-12 col-sm-4 col-lg-3">
             <div class="card mb-3">
               <a href="#">  <img src="../../asset/images/monthi/angular.jpg" class="card-img-top" alt="..."></a>
                 <div style="min-height: 210px;" class="card-body">
                   <h5 class="card-title"><a class="text-decoration-none" href="#">AngularJs</a></h5>
                   <p class="card-text">AngularJS là một framework có cấu trúc cho các ứng dụng web động. Nó cho phép bạn sử dụng HTML như là ngôn ngữ mẫu và cho phép bạn mở rộng cú pháp của HTML.</p>
                 </div>
                 <ul class="list-group list-group-flush text-center">
                   <li class="list-group-item fs-6">10 câu hỏi, 10 phút</li>
                 </ul>
                 
               </div>
         </div>
         <div class="col-12 col-sm-4 col-lg-3">
             <div class="card mb-3">
                 <a href="#"><img src="../../asset/images/monthi/c_thang.jpg" class="card-img-top" alt="..."></a>
                 <div style="min-height: 210px;" class="card-body">
                   <h5 class="card-title"><a class="text-decoration-none" href="#">C#</a></h5>
                   <p class="card-text">C# (C Sharp) là một ngôn ngữ lập trình hướng đối tượng đa năng, mạnh mẽ được phát triển bởi Microsoft, C# là phần khởi đầu cho kế hoạch .NET của họ. </p>
                 </div>
                 <ul class="list-group list-group-flush text-center">
                   <li class="list-group-item fs-6">10 câu hỏi, 10 phút</li>
                 </ul>
               </div>
         </div>
         <div class="col-12 col-sm-4 col-lg-3">
             <div class="card mb-3">
                 <a href="#"><img src="../../asset/images/monthi/CSS3_HTML5.jpg" class="card-img-top" alt="..."></a>
                 <div style="min-height: 210px;" class="card-body">
                   <h5 class="card-title"><a class="text-decoration-none" href="#">HTML5 & CSS3</a></h5>
                   <p class="card-text">HTML5 và CSS3 là các chương trình mới nhất cho việc thiết kế Web. Các tính năng video của HTML5 – cho phép đơn giản hoá việc thêm một video vào trang Web...</p>
                 </div>
                 <ul class="list-group list-group-flush text-center">
                   <li class="list-group-item fs-6">10 câu hỏi, 10 phút</li>
                 </ul>
               </div>
         </div>
         <div class="col-12 col-sm-4 col-lg-3">
             <div class="card mb-3">
                 <a href="#"><img src="../../asset/images/monthi/dart.png" class="card-img-top" alt="..."></a>
                 <div style="min-height: 210px;" class="card-body">
                   <h5 class="card-title"><a class="text-decoration-none" href="#">Dart</a></h5>
                   <p class="card-text">Dart là ngôn ngữ lập trình đa mục đích ban đầu được phát triển bởi Google và sau đó được Ecma (ECMA-408) phê chuẩn làm tiêu chuẩn...</p>
                 </div>
                 <ul class="list-group list-group-flush text-center">
                   <li class="list-group-item fs-6">10 câu hỏi, 10 phút</li>
                 </ul>
               </div>
         </div>
         <div class="col-12 col-sm-4 col-lg-3">
             <div class="card mb-3">
                 <a href="#"><img src="../../asset/images/monthi/java.jpg" class="card-img-top" alt="..."></a>
                 <div style="min-height: 210px;" class="card-body">
                   <h5 class="card-title"><a class="text-decoration-none" href="#">Java</a></h5>
                   <p class="card-text">Java là một ngôn ngữ lập trình hướng đối tượng, dựa trên lớp được thiết kế để có càng ít phụ thuộc thực thi càng tốt.  </p>
                 </div>
                 <ul class="list-group list-group-flush text-center">
                   <li class="list-group-item fs-6">10 câu hỏi, 10 phút</li>
                 </ul>
               </div>
         </div>
         <div class="col-12 col-sm-4 col-lg-3">
             <div class="card mb-3">
                 <a href="#"><img src="../../asset/images/monthi/javascript.jpeg" class="card-img-top" alt="..."></a>
                 <div style="min-height: 210px;" class="card-body">
                   <h5 class="card-title"><a class="text-decoration-none" href="#">Javascript</a></h5>
                   <p class="card-text">JavaScript là ngôn ngữ lập trình website phổ biến hiện nay, nó được tích hợp và nhúng vào HTML giúp website trở nên sống động hơn.</p>
                 </div>
                 <ul class="list-group list-group-flush text-center">
                   <li class="list-group-item fs-6">10 câu hỏi, 10 phút</li>
                 </ul>
               </div>
         </div>
         <div class="col-12 col-sm-4 col-lg-3">
             <div class="card mb-3">
                 <a href="#"><img src="../../asset/images/monthi/laravel.jpg" class="card-img-top" alt="..."></a>
                 <div style="min-height: 210px;" class="card-body">
                   <h5 class="card-title"><a class="text-decoration-none" href="#">Laravel</a></h5>
                   <p class="card-text">Được phát triển dựa trên mô hình MVC, Laravel là một PHP Framework mã nguồn mở miễn phí với cú pháp rõ ràng, mạch lạc.</p>
                 </div>
                 <ul class="list-group list-group-flush text-center">
                   <li class="list-group-item fs-6">10 câu hỏi, 10 phút</li>
                 </ul>
               </div>
         </div>
         <div class="col-12 col-sm-4 col-lg-3">
             <div class="card mb-3">
                 <a href="#"><img src="../../asset/images/monthi/nodejs.png" class="card-img-top" alt="..."></a>
                 <div style="min-height: 210px;" class="card-body">
                   <h5 class="card-title"><a class="text-decoration-none" href="#">Nodejs</a></h5>
                   <p class="card-text">Nodejs là một mã nguồn được xây dựng dựa trên nền tảng Javascript V8 Engine. Nodejs sử dụng rộng bởi hàng ngàn lập trình viên trên toàn thế giới.</p>
                 </div>
                 <ul class="list-group list-group-flush text-center">
                   <li class="list-group-item fs-6">10 câu hỏi, 10 phút</li>
                 </ul>
               </div>
         </div>
     </div>
    
