/* footer{
    background-color: #F2F2F2;
} */
.in4{
    font-size: 13px;
    color: #4f4f4f;
}
.list_link_footer li a{
    text-decoration: none;
}
.list_link_footer li a:hover{
    color: #4f4f4f;
}
.link_tests{
    background-color: #fff;
    color: #666;
    font-size: 13px;
}
.list_link_tests li a{
    text-decoration: none;
    color: #666;
}
.wrap_in4{
    background-color: #F2F2F2;
}

.bg-header{
    background-color: #14b39b !important;
}

.list-group-item-action-hover:hover{
    background-color:#129a85 !important;
}

.list-group-item-action-hover:active {
    background-color:#129a85 !important;
}

.list-group-item-action-hover:visited {
    background-color:#37bba7 !important;
}

.list-group-item-action-hover:focus {
    background-color:#129a85 !important;
}


