<!DOCTYPE html>
<html lang="en" ng-app ="myApp" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách thành viên</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="../../asset/css/respone.css">
    <script src="../../../node_modules/angular/angular.js"></script>
 <style>
   .text-danger, .text-primary{
       cursor: pointer;
     }
 </style>
   
</head>
<body ng-controller="myController">
    <div class="container-fluid">
        <nav class="navbar navbar-mobi navbar-light bg-light fixed-top mb-5" ng-include="'../../layout/navbar.html'">
           
          </nav>
          <!--end navbar-->
        
         
        <div class="row">
            <div class=" aside_pc bg-dark col-md-2 col-lg-2 mt-5" ng-include="'../../layout/aside.html'">
                <!--include aside-->
            </div>
            <div class="col-12 col-md-10 col-lg-10 article_box">
              <!--article-->
                <article class="article">
                    <h2>Danh sách thành viên</h2>
                
                  <table class="table ">
                      <thead class="table-secondary mt-5">
                          <tr>
                              <th scope="row">STT</th>
                              <th>Họ tên</th>
                              <th>Tên đăng nhập</th>
                              <!-- <td>Mật khẩu</td> -->
                              <th>Email</th>                          
                              <th></th>
                            </tr>
                      </thead>
                      <tbody class="mt-5">
                          <tr ng-repeat="item in data" class="">
                            <td scope="row">{{$index+1}}</td>
                            <td>{{item.fullname}}</td>
                            <td>{{item.username}}</td>
                            <td>{{item.email}}</td>
                            <td>
                              <i class="fa-solid fa-pen-to-square text-primary me-3"></i>
                              <i class="fa-solid fa-trash text-danger "></i>
                            </td>
                          </tr>
                        
                        </tbody>
                    </table>
                 
                </article>
                <!--end article-->
            </div>
        </div>
    </div>
    
    <script>
          var app  = angular.module('myApp',[]);
          app.controller('myController',function($scope,$http){
          
          $http.get('http://localhost:3000/Students') 
          .then(function(response){
            $scope.data = response.data;
          })

          })
    </script>
</body>
</html>