<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../asset/css/footer.css">
    <script src="../../node_modules/angular/angular.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <article class="artichle col-md-8 border-primary">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <div class="contact-text">
                                <div class="media-heading">
                                    Chúng tôi là ai? Toplist là gì?
                                </div>
                                <p class="fs-6 py-3 m-0 " style="font-size:0.9rem !important;">Giống như cái tên Toplist, chúng tôi là
                                    nền tảng hàng đầu chuyên nghiên cứu và sáng lập ra các danh sách đứng đầu ở mọi lĩnh
                                    vực của đời sống.</p>
                                <p class="fs-6 py-3 m-0 " style="font-size:0.9rem !important;">
                                    Trong hơn 3 năm qua, chúng tôi là một trong những trang web đánh giá sản phẩm/dịch
                                    vụ
                                    lớn nhất và toàn diện nhất trên web, với hàng chục ngàn đánh giá và xếp hạng uy tín.
                                    Chúng tôi rất khác biệt so với các trang web review sản phẩm/dịch vụ thông thường ở
                                    việc
                                    mỗi nhóm sản phẩm/dịch vụ của chúng tôi được hiển thị để bạn dễ dàng tìm kiếm, dễ
                                    dàng
                                    lựa chọn nhất.
                                </p>
                                <p class="fs-6 py-3 m-0 " style="font-size:0.9rem !important;">Mặc dù chúng tôi có thể đã nghiên cứu hàng ngàn sản phẩm/dịch vụ trong một danh mục,
                                    nhưng chúng tôi sẽ chỉ cho bạn thấy những lựa chọn tốt nhất. Bởi vì không ai có thời
                                    gian để trải nghiệm qua và dùng thử hàng trăm sản phẩm/dịch vụ trong một ngành? Đánh
                                    giá của chúng tôi là sự kết hợp hoàn hảo của so sánh sản phẩm, phân tích chuyên
                                    nghiệp và dữ liệu ngành để bạn có thể tìm thấy sản phẩm/dịch vụ phù hợp nhất với
                                    mình.</p>
                                <p class="fs-6 py-3 m-0 " style="font-size:0.9rem !important;">
                                    Chúng tôi biết nhu cầu của mọi người là khác nhau. Chúng tôi biết sản phẩm có nhiều
                                    chức năng riêng biệt, dịch vụ có nhiều thông tin bạn chưa thể lắm, để lựa chọn đúng
                                    là một điều không dễ dàng. Tin tốt là, chúng tôi sẽ cho bạn thấy nhiều lựa chọn phù
                                    hợp đã được nghiên cứu, xem xét và xếp hạng là một trong những lựa chọn tốt nhất.
                                </p>
                                <div class="media_content form-control border-0">
                                    <img src="../../asset/images/chung-toi-la-ai-toplist-la-gi-273956.jpg" class="w-100" alt="">
                                </div>
                                <a href="" class="btn text-secondary d-flex justify-content-center">Xem thêm..</a>
                            </div>

                            
                        </div>

                    </div>

                </div>
            </article>
            <aside class="aside col-md-4 ">
                <h2 class="fs-6 ">Đề thi trắc nghiệm mới</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0"
                            style="font-size: 0.9rem !important;">Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt
                            nghiệp THPT môn Toán năm 2021</a></li>
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0"
                            style="font-size: 0.9rem !important;">Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt
                            nghiệp THPT môn Toán năm 2021</a></li>
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0"
                            style="font-size: 0.9rem !important;">Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt
                            nghiệp THPT môn Toán năm 2021</a></li>
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0"
                            style="font-size: 0.9rem !important;">Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt
                            nghiệp THPT môn Toán năm 2021</a></li>
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0"
                            style="font-size: 0.9rem !important;">Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt
                            nghiệp THPT môn Toán năm 2021</a></li>
                </ul>
            </aside>
        </div>
    </div>
</body>

</html>