    <div class="">
            <div class="card-body ">
                <h6 class="card-title ">Full: Cùng nhóm 5, trải nghiệm những bài tập trắc nghiệm thú vị </h6>
                <hr>
                <div class="title">
                    <p class="fs-6" style="text-align: justify;">
                        Quizizz là một ứng dụng được dùng để kiểm tra kiến thức ở các môn học cũng như kiến thức xã hội thông qua hình thức trả lời trắc nghiệm. Các câu hỏi trắc nghiệm trong Quizizz thuộc nhiều danh mục với cấp độ khác nhau để học sinh thử sức, đánh giá trình độ của bản thân; hoặc giáo viên, phụ huynh có thể truy cập bộ câu hỏi do người khác chia sẻ để sử dụng trong giảng dạy, kèm cặp con em mình. Nhìn chung, Quizizz phù hợp với cả việc học tại nhà và trên lớp.
                    </p>
                    <div class="img d-flex justify-content-center">
                        <img src="../../asset/images/logo/quizizz.jpg" class="text-center w-50" alt="">
                    </div>
                    <h6 class="card-title ">Đăng ký tài khoản</h6>
                    <hr>
                    <p class="fs-6" style="text-align: justify;">
                        Đầu tiên, các bạn hãy truy cập vào textquiz Tại màn hình trang chủ, các bạn ấn vào nút Đăng ký để tiến hành đăng ký tạo khoản mới.
                    </p>
                    <div class="img d-flex justify-content-center">
                        <img src="../../asset/images/logo/Capture.JPG" class="text-center w-50" alt="">
                    </div>
                    <p class="fs-6" style="text-align: justify;">
                        Khi đó sẽ có một cửa sổ mới hiện lên. Tại đây các bạn có thể lựa chọn đăng ký tài khoản Quizizz mới theo 1 trong 2 cách là đăng ký bằng tài khoản Google hoặc bằng Email. Sau khi nhập xong địa chỉ email thì ấn Next để chuyển đến màn hình tiếp theo.
                    </p>
                    <div class="img d-flex justify-content-center">
                        <img src="../../asset/images/logo/Capture1.JPG" class="text-center w-50" alt="">
                    </div>
                    <p class="fs-6" style="text-align: justify;">
                        Tiếp theo, Quizizz sẽ hỏi các bạn rằng muốn sử dụng ứng dụng vào mục đích gì. Các lựa chọn bao gồm sử dụng trong trường học, doanh nghiệp hoặc cá nhân. Trong khuôn khổ bài viết này mình sẽ hướng dẫn các bạn sử dụng Quizizz với vai trò là một người giáo viên nên chúng ta sẽ chọn at a school.
                    </p>
                </div>
            </div>
    </div>