<!DOCTYPE html>
<html lang="en" ng-app="assignment">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../asset/css/footer.css">
    <script src="../../node_modules/angular/angular.min.js"></script>
</head>
<body ng-controller="myController">
    <div class="container-fluid">
            <header class="row">

            </header>
            <main class="row">
    
            </main>
            <footer ng-include="'../layout/footer.html'" class="row py-2">
        
            </footer>
        
    </div>

    <script>
        var app = angular.module('assignment',[]);
        app.controller('myController',function($scope){
          
        })
    </script>
</body>
</html>