<!DOCTYPE html>
<html lang="en" ng-app="assignment">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <link rel="stylesheet" href="../../asset/css/footer.css" />
    <script src="../../node_modules/angular/angular.min.js"></script>
    <script src="../../node_modules/angular-route/angular-route.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </head>
  <body  class="p-0">
    <div class="container-fluid p-0">
      <header ng-include="'../layout/header.html'"  class="row header_box-container">        
      </header>
     <main class="mt-4 w-75 m-auto">
       <div ng-view></div>
     </main>
      <!-- <main class="mt-4 w-75 m-auto">
        <h4 class="text-danger">Đề thi online</h4>

        <hr />
        <div class="row">
          <div class="col-12 col-sm-4 col-lg-3">
            <div class="card mb-3">
              <a href="./baithi.html"
                ><img
                  src="../../asset/images/monthi/ADAV.jpg"
                  class="card-img-top"
                  alt="..."
              /></a>
              <div style="min-height: 160px !important" class="card-body">
                <h5 class="card-title">
                  <a class="text-decoration-none line_clamp_title fs-6" href="#"
                    >Lập trình Android nâng cao</a
                  >
                </h5>
                <p class="card-text line_clamp">
                  Bổ sung kiến thức về các thành phần của một ứng dụng Android.
                  Bao gồm Fragment, Menu, Binding, Animation, đa tuyến, Google
                  Map, Sensor, Google Play + service. Tất cả đều rất quan trọng,
                  nếu thiếu sự hiểu biết về chúng sẽ khó khăn trong việc phát
                  triển một ứng dụng Android.
                </p>
              </div>
              <ul class="list-group list-group-flush text-center">
                <li class="list-group-item fs-6">10 câu hỏi, 15 phút</li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-lg-3">
            <div class="card mb-3">
              <a href="./baithi.html"
                ><img
                  src="../../asset/images/monthi/ADBS.jpg"
                  class="card-img-top"
                  alt="..."
              /></a>
              <div style="min-height: 160px !important" class="card-body">
                <h5 class="card-title">
                  <a class="text-decoration-none line_clamp_title fs-6" href="#"
                    >Lập trình Android cơ bản</a
                  >
                </h5>
                <p class="card-text line_clamp">
                  Lập trình Android đang dần trở thành xu thế mới trong lĩnh vực
                  IT. Khi sự tăng trưởng vượt bậc về số lượng của các thiết bị
                  smartphone.
                </p>
              </div>
              <ul class="list-group list-group-flush text-center">
                <li class="list-group-item fs-6">10 câu hỏi, 15 phút</li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-lg-3">
            <div class="card mb-3">
              <a href="./baithi.html"
                ><img
                  src="../../asset/images/monthi/ADTE.jpg"
                  class="card-img-top"
                  alt="..."
              /></a>
              <div style="min-height: 160px !important" class="card-body">
                <h5 class="card-title">
                  <a class="text-decoration-none line_clamp_title fs-6" href="#"
                    >Kiểm thử và triển khai ứng dụng Android & CSS3</a
                  >
                </h5>
                <p class="card-text line_clamp">
                  Phần mềm không chỉ phải thực hiện chính xác các tác vụ, hiệu
                  quả mà còn phải dễ dàng sử dụng, có thiết kế đẹp mắt và tương
                  thích với hệ sinh thái trên các hệ điều hành của thiết bị
                  thông minh
                </p>
              </div>
              <ul class="list-group list-group-flush text-center">
                <li class="list-group-item fs-6">10 câu hỏi, 15 phút</li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-lg-3">
            <div class="card mb-3">
              <a href="./baithi.html"
                ><img
                  src="../../asset/images/monthi/ADBS.jpg"
                  class="card-img-top"
                  alt="..."
              /></a>
              <div style="min-height: 160px !important" class="card-body">
                <h5 class="card-title">
                  <a class="text-decoration-none line_clamp_title fs-6" href="#"
                    >Thiết kế giao diện trên Android</a
                  >
                </h5>
                <p class="card-text line_clamp">
                  Giao diện người dùng (user interfaces – UI) của các ứng dụng
                  Android phải được thiết kế sao cho tương thích với với các
                  thiết bị di động như điện thoại thông minh hay máy tính bảng
                  có kích thước khác nhau.
                </p>
              </div>
              <ul class="list-group list-group-flush text-center">
                <li class="list-group-item fs-6">10 câu hỏi, 15 phút</li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-lg-3">
            <div class="card mb-3">
              <a href="./baithi.html"
                ><img
                  src="../../asset/images/monthi/ASNE.png"
                  class="card-img-top"
                  alt="..."
              /></a>
              <div style="min-height: 160px !important" class="card-body">
                <h5 class="card-title">
                  <a class="text-decoration-none line_clamp_title fs-6" href="#"
                    >Lập trình ASP.NET</a
                  >
                </h5>
                <p class="card-text line_clamp">
                  ASP.NET là một khung ứng dụng web được thiết kế và phát triển
                  bởi Microsoft. Nó là ngôn ngữ mã nguồn mở và là một tập hợp
                  con của .NET Framework và là sự kế thừa của ASP cổ điển
                  (Active Server Pages).
                </p>
              </div>
              <ul class="list-group list-group-flush text-center">
                <li class="list-group-item fs-6">10 câu hỏi, 15 phút</li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-lg-3">
            <div class="card mb-3">
              <a href="./baithi.html"
                ><img
                  src="../../asset/images/monthi/CLCO.jpg"
                  class="card-img-top"
                  alt="..."
              /></a>
              <div style="min-height: 160px !important" class="card-body">
                <h5 class="card-title">
                  <a class="text-decoration-none line_clamp_title fs-6" href="#"
                    >Điện toán đám mây</a
                  >
                </h5>
                <p class="card-text line_clamp">
                  Điện toán đám mây là việc phân phối các tài nguyên CNTT theo
                  nhu cầu qua Internet với chính sách thanh toán theo mức sử
                  dụng. Thay vì mua, sở hữu và bảo trì các trung tâm dữ liệu và
                  máy chủ vật lý, bạn có thể tiếp cận các dịch vụ công nghệ, như
                  năng lượng điện toán, lưu trữ và cơ sở dữ liệu, khi cần thiết,
                  từ nhà cung cấp dịch vụ đám mây như Amazon Web Services
                  (AWS)./p>
                </p>
              </div>

              <ul class="list-group list-group-flush text-center">
                <li class="list-group-item fs-6">10 câu hỏi, 15 phút</li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-lg-3">
            <div class="card mb-3">
              <a href="./baithi.html"
                ><img
                  src="../../asset/images/monthi/DBAV.png"
                  class="card-img-top"
                  alt="..."
              /></a>
              <div style="min-height: 160px !important" class="card-body">
                <h5 class="card-title">
                  <a class="text-decoration-none line_clamp_title fs-6" href="#"
                    >SQL Server</a
                  >
                </h5>
                <p class="card-text line_clamp">
                  SQL Server là phần mềm chuyên gia về quản lí dữ liệu do
                  Microsoft phát hành. Nó cung cấp cho người dùng, doanh nghiệp
                  một cơ sở dữ liệu được bảo mật , hiệu suất cao và thông minh..
                </p>
              </div>
              <ul class="list-group list-group-flush text-center">
                <li class="list-group-item fs-6">10 câu hỏi, 15 phút</li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-lg-3">
            <div class="card mb-3">
              <a href="./baithi.html"
                ><img
                  src="../../asset/images/monthi/DBBS.png"
                  class="card-img-top"
                  alt="..."
              /></a>
              <div style="min-height: 160px !important" class="card-body">
                <h5 class="card-title">
                  <a class="text-decoration-none line_clamp_title fs-6" href="#"
                    >Cơ sở dữ liệu</a
                  >
                </h5>
                <p class="card-text line_clamp">
                  Cơ sở dữ liệu (Database) là một tập hợp các dữ liệu có tổ
                  chức, thường được lưu trữ và truy cập điện tử từ hệ thống máy
                  tính. Khi cơ sở dữ liệu phức tạp hơn, chúng thường được phát
                  triển bằng cách sử dụng các kỹ thuật thiết kế và mô hình hóa
                  chính thức..
                </p>
              </div>
              <ul class="list-group list-group-flush text-center">
                <li class="list-group-item fs-6">10 câu hỏi, 15 phút</li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-lg-3">
            <div class="card mb-3">
              <a href="./baithi.html"
                ><img
                  src="../../asset/images/monthi/GAME.png"
                  class="card-img-top"
                  alt="..."
              /></a>
              <div style="min-height: 160px !important" class="card-body">
                <h5 class="card-title">
                  <a class="text-decoration-none line_clamp_title fs-6" href="#"
                    >Lập trình game 2D</a
                  >
                </h5>
                <p class="card-text line_clamp">
                  làm quen với một vài kỹ thuật đơn giản trong lập trình Game 2D
                  Android.
                </p>
              </div>
              <ul class="list-group list-group-flush text-center">
                <li class="list-group-item fs-6">10 câu hỏi, 15 phút</li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-lg-3">
            <div class="card mb-3">
              <a href="./baithi.html"
                ><img
                  src="../../asset/images/monthi/HTCS.jpg"
                  class="card-img-top"
                  alt="..."
              /></a>
              <div style="min-height: 160px !important" class="card-body">
                <h5 class="card-title">
                  <a class="text-decoration-none line_clamp_title fs-6" href="#"
                    >HTML5 và CSS3</a
                  >
                </h5>
                <p class="card-text line_clamp">
                  HTML5 và CSS3 không chỉ hỗ trợ mỗi tính năng video không cần
                  Plugin phụ trợ nhưng đây là cải tiến có ý nghĩa nhất.
                </p>
              </div>
              <ul class="list-group list-group-flush text-center">
                <li class="list-group-item fs-6">10 câu hỏi, 15 phút</li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-lg-3">
            <div class="card mb-3">
              <a href="./baithi.html"
                ><img
                  src="../../asset/images/monthi/INMA.jpg"
                  class="card-img-top"
                  alt="..."
              /></a>
              <div style="min-height: 160px !important" class="card-body">
                <h5 class="card-title">
                  <a class="text-decoration-none line_clamp_title fs-6" href="#"
                    >Internet Marketing</a
                  >
                </h5>
                <p class="card-text line_clamp">
                  Internet Marketing – còn được biết đến bằng các thuật ngữ web
                  marketing, online marketing, hay e-marketing – là một hình
                  thức marketing cho sản phẩm hay dịch vụ trên môi trường
                  Internet.
                </p>
              </div>
              <ul class="list-group list-group-flush text-center">
                <li class="list-group-item fs-6">10 câu hỏi, 15 phút</li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-lg-3">
            <div class="card mb-3">
              <a href="./baithi.html"
                ><img
                  src="../../asset/images/monthi/JAAV.png"
                  class="card-img-top"
                  alt="..."
              /></a>
              <div style="min-height: 160px !important" class="card-body">
                <h5 class="card-title">
                  <a class="text-decoration-none line_clamp_title fs-6" href="#"
                    >Lập trình Java nâng cao</a
                  >
                </h5>
                <p class="card-text line_clamp">
                  Java là ngôn ngữ lập trình hàng đầu, gần 90% các công ty lớn
                  trên thế như các ông lớn Google, Amazon đều sử dụng Java để
                  làm ứng dụng Desktop và Backend cho hệ thống Website của họ..
                </p>
              </div>
              <ul class="list-group list-group-flush text-center">
                <li class="list-group-item fs-6">10 câu hỏi, 15 phút</li>
              </ul>
            </div>
          </div>
        </div>
      </main> -->
      <footer ng-include="'../layout/footer.html'" class="row py-2"></footer>
    </div>

  
    <script src="../../asset/js/quiz.js"></script>
    <!-- <script src ="../../asset/js/app.js"></script> -->
  </body>
</html>
