<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../asset/css/footer.css">
    <script src="../../node_modules/angular/angular.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <article class="artichle col-md-8 border-primary">
                <div class="row">
                    <div class="aside_images col-md-3">
                        <img src="../../asset/images/anon_user.png" class="w-100" alt="">
                    </div>
                    <div class="col-md-9 mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="name@example.com">
                            <button class="btn btn-sm btn-success my-3">Lấy lại mật khẩu</button>
                            <p>Nếu bạn gặp vấn đề trong việc lấy lại mật khẩu xin hãy liên hệ với chúng tôi</p>
                    </div>
                    
                </div>
            </article>
            <aside class="aside col-md-4 ">
                <h2 class="fs-6 ">Đề thi trắc nghiệm mới</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
                    <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
                  </ul>
            </aside>
        </div>
    </div>
</body>

</html>