<div class="row">
    <article class="artichle col-md-8 border-primary">
        <div class="row">
            <div class="aside_images col-md-2">
                <!-- <img src="../../asset/images/anon_user.png" class="w-100" alt=""> -->
            </div>
            <div class="col-md-10 mb-10">
                <label for="exampleFormControlInput1" class="form-label ">Nhập địa chỉ email</label>
                <input type="email" class="form-control w-75" id="laylaimk"
                    placeholder="Nhập địa chỉ email, vd: thietkewweb@gmail.com">
                 
                    <span style="color:red" id="mklayLai"></span>
                    <br />
                    <button id="btn_laymk" class="btn btn-sm btn-success my-3">Lấy lại mật khẩu</button>
                    <p>Nếu bạn gặp vấn đề trong việc lấy lại mật khẩu xin hãy liên hệ với chúng tôi</p>
            </div>
          
            
        </div>
    </article>
    <aside class="aside col-md-4 ">
        <h2 class="fs-6 ">Đề thi trắc nghiệm mới</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
            <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
            <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
            <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
            <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0" style="font-size: 0.9rem !important;" >Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt nghiệp THPT môn Toán năm 2021</a></li>
          </ul>
    </aside>
</div>