<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu</h5>
       
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Nhập mật khẩu cũ</label>
          <input type="password" class="form-control" id="mk_curen" placeholder="Nhập mật khẩu cũ">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Nhập mật khẩu mới</label>
          <input type="password" class="form-control" id="mk_change" placeholder="Nhập mật khẩu mới">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Xác nhận lại mật khẩu mới</label>
          <input type="password" class="form-control" id="mk_change_confirm" placeholder="Xác nhận lại mật khẩu mới">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
        <button type="button" id="btndoiml"  class="btn btn-primary">Đổi mật khẩu</button>
      </div>
    </div>
  </div>
</div>

           

           <main style="min-height:80vh;" class="row mt-4 w-75 m-auto">
              <div class="row">
                <article class="artichle col-md-8 border-primary">
                    <div class="row">
                        <div class="aside_images col-md-3">
                            <!-- <img src="../../asset/images/anon_user.png" class="w-100" alt=""> -->
                        </div>
                        <div class="col-md-9 mb-3">
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="my-input">Tên đăng nhập *</label>
                                    <input  readonly id="username" class="form-control" type="text" name="username">
                                    <input hidden  readonly id="idUser" class="form-control" type="text" name="idUser">
                                    <input hidden  readonly id="password" class="form-control" type="text" name="returnData">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label ">Địa chỉ email *</label>
                                    <input readonly type="email" class="form-control" id="email"
                                        placeholder="">
                                </div>
                                <div class="mb-3"><label for="my-input">Họ tên </label>
                                    <input id="fullname" class="form-control" type="text" name="">
                                </div>
                               
                                <div class="mb-3 d-flex justify-content-end d-flex justify-content-between">
                                    <button id="save" class="btn btn-sm btn-success px-3">Lưu</button>
                                    <button id="changepass" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-sm btn-success px-3">Đổi mật khẩu</button>
                                </div>
                            </div>
            
                        </div>
            
                    </div>
                </article>
                <aside class="aside col-md-4 ">
                    <h2 class="fs-6 ">Đề thi trắc nghiệm mới</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0"
                                style="font-size: 0.9rem !important;">Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt
                                nghiệp THPT môn Toán năm 2021</a></li>
                        <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0"
                                style="font-size: 0.9rem !important;">Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt
                                nghiệp THPT môn Toán năm 2021</a></li>
                        <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0"
                                style="font-size: 0.9rem !important;">Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt
                                nghiệp THPT môn Toán năm 2021</a></li>
                        <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0"
                                style="font-size: 0.9rem !important;">Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt
                                nghiệp THPT môn Toán năm 2021</a></li>
                        <li class="list-group-item px-0"><a href="" class="text-decoration-none fs-6 p-0"
                                style="font-size: 0.9rem !important;">Đề thi thử chuẩn cấu trúc minh họa số 02 Kỳ thi tốt
                                nghiệp THPT môn Toán năm 2021</a></li>
                    </ul>
                </aside>
            </div>
            </main>
          

           