
  <h4 class="text-danger">Đề thi online</h4>
  <hr>
   <div class="row">
       <div class="col-12 col-sm-4 col-lg-3" ng-repeat="item in list_subject">
           <div class="card mb-3">
             <a  href="#!quiz/{{item.Id}}/{{item.Name}}"><img src="../../asset/images/monthi/{{item.Logo}}" class="card-img-top" alt="..."></a>
               <div style="min-height: 170px;" class="card-body">
                 <h5 class="card-title"><a class="text-decoration-none line_clamp_title fs-6" href="#!/{{item.Id}}/{{item.Name}}" >{{item.Name}}</a></h5>
                 <p class="card-text line_clamp">Bổ sung kiến thức về các thành phần của một ứng dụng Android. Bao gồm Fragment, Menu, Binding, Animation, đa tuyến, Google Map, Sensor, Google Play + service. Tất cả đều rất quan trọng, nếu thiếu sự hiểu biết về chúng sẽ khó khăn trong việc phát triển một ứng dụng Android. </p>
               </div>
               <ul class="list-group list-group-flush text-center">
                 <li class="list-group-item fs-6">10 câu hỏi, 15 phút</li>
               </ul>
               
             </div>
       </div>

   </div>
  
