<!DOCTYPE html>
<html lang="en" ng-app ="myApp" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách môn thi</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  
    <link rel="stylesheet" href="../../asset/css/respone.css">
    <script src="../../../node_modules/angular/angular.js"></script>
   <style>
     img{
       width: 200px;
     }
     .text-danger, .text-primary{
       cursor: pointer;
     }
   </style>
</head>
<body ng-controller="myController">
    <div class="container-fluid">
        <nav class="navbar navbar-mobi navbar-light bg-light fixed-top mb-5" ng-include="'../../layout/navbar.html'">
           
          </nav>
          <!--end navbar-->
        
         
        <div class="row">
            <div class=" aside_pc bg-dark col-md-2 col-lg-2 mt-5" ng-include="'../../layout/aside.html'">
                <!--include aside-->
            </div>
            <div class="col-12 col-md-10 col-lg-10 article_box">
              <!--article-->
                <article class="article">
                    <h2>Danh sách môn thi</h2>
                
                  <table class="table align-middle">
                      <thead class="table-secondary mt-5">
                          <tr>
                              <th scope="row">ID</th>
                              <th>Tên môn thi</th>
                              <th>hinh </th>
                              <th>Thời gian làm bài</th>
                              <th>Tổng số câu hỏi</th>
                              <th></th>
                            </tr>
                      </thead>
                      <tbody class="mt-5">
                          <tr class="">
                            <td scope="row">2</td>
                            <td>Javascript</td>
                            <td><img src="../../../asset/images/monthi/javascript.jpg" alt=""></td>
                            <td>15 Phút</td>
                            <td>30</td>
                            <td>
                              <i class="fa-solid fa-pen-to-square text-primary me-3"></i>
                              <i class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                          <tr class="">
                            <td scope="row">1</td>
                            <td>PHP</td>
                            <td><img src="../../../asset/images/monthi/php.jpg" alt=""></td>
                            <td>15 Phút</td>
                            <td>50</td>
                            <td>
                              <i class="fa-solid fa-pen-to-square text-primary me-3"></i>
                              <i class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                          <tr class="">
                            <td scope="row">3</td>
                            <td>PHP</td>
                            <td><img src="../../../asset/images/monthi/CSS3_HTML5.jpg" alt=""></td>
                            <td>15 Phút</td>
                            <td>50</td>
                            <td>
                              <i class="fa-solid fa-pen-to-square text-primary me-3"></i>
                              <i class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                          <tr class="">
                            <td scope="row">3</td>
                            <td>Java</td>
                            <td><img src="../../../asset/images/monthi/java.jpg" alt=""></td>
                            <td>15 Phút</td>
                            <td>50</td>
                            <td>
                              <i class="fa-solid fa-pen-to-square text-primary me-3"></i>
                              <i class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                 
                </article>
                <!--end article-->
            </div>
        </div>
    </div>
    
    <script>
          var app  = angular.module('myApp',[]);
          app.controller('myController',function($scope){
          
          })
    </script>
</body>
</html>