<!DOCTYPE html>
<html lang="en" ng-app ="myApp" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách môn thi</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="../../asset/css/respone.css">
    <script src="../../../node_modules/angular/angular.js"></script>
   <style>
     img{
       width: 200px;
     }
   </style>
</head>
<body ng-controller="myController">
    <div class="container-fluid">
        <nav class="navbar navbar-mobi navbar-light bg-light fixed-top mb-5" ng-include="'../../layout/navbar.html'">
           
          </nav>
          <!--end navbar-->
        
         
        <div class="row">
            <div class=" aside_pc bg-dark col-md-2 col-lg-2 mt-5" ng-include="'../../layout/aside.html'">
                <!--include aside-->
            </div>
            <div class="col-12 col-md-10 col-lg-10 article_box">
              <!--article-->
                <article class="article">
                    <h2 class="text-primary">Thêm câu hỏi</h2>
                    <from>
                        <select class="form-select mb-3" aria-label="Default select example">
                            <option selected>Chọn môn thi</option>
                            <option value="1">Javascript</option>
                            <option value="2">PHP</option>
                            <option value="3">Java</option>
                            <option value="3">Java</option>
                          </select>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Nội dung câu hỏi</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nhập nội dung câu hỏi">
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput2" class="form-label">Hình:</label>
                            <input type="file" class="form-control" id="formGroupExampleInput2" placeholder="Chọn hình">
                        </div>
                        <div class="mb-3">
                        <button class="btn btn-primary">Thêm câu hỏi</button>
                        </div>
                   </from>
                    


                </article>
                <!--end article-->
            </div>
        </div>
    </div>
    
    <script>
          var app  = angular.module('myApp',[]);
          app.controller('myController',function($scope){
          
          })
    </script>
</body>
</html>